name: Build and Release Windows Executable

on:
  push:
    branches:
      - release

jobs:
  build-and-release:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build release executable
        run: cargo build --release --target x86_64-pc-windows-msvc

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: target/x86_64-pc-windows-msvc/release/drill.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
